.container
	%nav{class: "navbar navbar-inverse navbar-fixed-top"}
		.navbar-header
			%button{type: "button", class: "navbar-toggle", data-toggle: "collapse", data-target: "navbar-collapse"}
				%span.sr-only
					Expand navigation	
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar

			%p{class: "navbar-brand"} Mgr. Vodolán Miroslav



.jumbotron#preface
	.container
		%h1 Task limit reached
		%p 
			We are sorry, but our experiment requires multiple users to be involved in. 


.container
	%article{class: "alert alert-danger"}
		%strong Stay tuned
		%p We will run <b>multiple</b> experiments in <b>short time</b> and you will be able to participate again.


