.dialog_log{
	width: 555px;
	height: 300px;
	border: 1px solid gray;

	overflow-x:hidden;
	overflow-y:scroll;
}

.utterance{
	margin-top: 10px;
	width: 505px;
}

.act{
 font-size: small; 
 font-style: italic;
}

.utterance_submit{
	width: 50px;
}

.system_text, .user_text{
	margin-bottom: 2px;
}

.system_text{
	color: black;
	font-weight: bold;
}

.user_text{
	color: black;
}

.feedback_textarea{
	width: 555px;
	height: 300px;
}

.T_utterance, .act{
	background-color: lightblue;
}

.T_response{
	background-color: lightblue;
	font-weight: bold;
}

.T_reset{
	background-color: orange;
}

.T_completition{
	background-color: lightgreen;
}

.T_task{
	background-color: yellow;
}

.T_Info{
	font-style: italic;
}

.T_advice{
	background-color: lightgreen;
}


.T_equivalence{
	background-color: lightblue;
}